// 此變數為框架之整體變數，控制整體網站之設定，包含 顏色、文字、格線系統
// 於mixins 資料夾內，各個模組也有其個別使用的變數，請至個別檔案設定，個別使用變數不含在此設定
//---------------------------------------------------顏色---------//
// 定義顏色 此顏色可自由變換
$primaryColor-100: rgba(120, 149, 172, 1); //主色
$primaryColor-60: rgba(120, 149, 172, .6);
$primaryColor-50: rgba(120, 149, 172, .5);
$primaryColor-30: rgba(120, 149, 172, .3);
$primaryColor-10: rgba(120, 149, 172, .1);

$NoticeColor: rgba(192, 76, 8, 1);			// notice

$Nature-b-Color-100: rgba(53, 66, 70, 1);	// 白色
$Nature-b-Color-40: rgba(53, 66, 70, .4);
$Nature-b-Color-30: rgba(53, 66, 70, .3);
$Nature-b-Color-25: rgba(53, 66, 70, .25);
$Nature-b-Color-20: rgba(53, 66, 70, .2);
$Nature-b-Color-8: rgba(53, 66, 70, .08);
$Nature-b-Color-2: rgba(53, 66, 70, .02);

$Nature-w-Color-100: rgba(255, 255, 255, 1);
$Nature-w-Color-80: rgba(255, 255, 255, .8);

$Gradient-color: linear-gradient(115.39deg, #688398 18.75%, rgba(120, 149, 172, 0.6) 100%);

//---------------------------------------------------顏色---------//
// 定義顏色 此顏色可自由變換
$primaryColor: #463b9e; //主色
$secondaryColor: #7b117e; //輔色
$lightColor: #fec003; //點綴-淺
$deepColor: #16203a;  //點綴-深
$linkColor: #1f014a; //連結 #0066cc;
$importantColor: #eb0202; //重要
// 但注意真實顏色與語意的關聯必須易於辨識
$color-blue: #0066cc;
$color-green: #298729;
$color-orange: #d04500;
$color-red: #d30000;
$color-yellow: #fec003;
$color-purple: #781f79;
$color-gray: #ccc;
$color-dark: #333333;
$color-hr: #666; //hr顏色
$color-word: #222; //一般字的顏色
$btn-word: #222; //按鈕字的顏色
// 連結顏色
$aColor: #0066cc;
$aHover: darken($primaryColor, 10);
$aFocus:#ff3e4d;
// 表單focus顏色
$form-focus: #0066cc; //表單
$form-btn: #0066cc; //表單
//------------------------------------------------------字型--------//
// 字型設定
// $font-family: Lato,
// 'PingFang TC',
// 'Helvetica Neue',
// Helvetica,
// 微軟正黑體,
// Arial,
// sans-serif;
// $font-size: 1em;

//------------------------------------------------------字型--------//

// 字型設定
$font-family: 'Noto Sans TC';
$font-size: 1em;	// body

$title: 150%;		// 24px
$subtitle: 125%;	// 20px
$caption: 87.5%;
//------------------------------------------------------格線系統-----//

// 格線系統
$grid-columns: 12 !default; //格線欄位數
$grid-gutter-width: 30px !default; //左右padding
$container-max: 1440px !default; //container最大寬

//mediaquery
$screen-lg: 1440px !default;	//電腦
// $screen-md: 992px !default;  //平板
$screen-md: 1200px !default;	//平板
$screen-sm: 768px !default;		//手機
$screen-xs: 576px !default;		//極小尺寸 - hyui
$screen-xs-flex: 320px !default; //極小尺寸 - flex

//-------------------------------------------------------客製化------//
$fatfooterBgColor: #f1f1f1; //fatFooter 底色

//--------------------------------------------------------客製化------//
$rounded-angle: 10px; //整站導角
$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99); //動態預設

