footer{
    .container {
        section{
            padding: 42px 130px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            a{ display: block;}

            // 黑底
            &:first-child{
                background: #030303;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                color: #666;
                font-size: .9375em;
            }
            // 標章＋隱私權
            &:last-child{
                color: $linkColor;

                // 版權連結
                .footer_link {
                    display: flex;
                    justify-content: flex-end;
                    @include li-reset();

                    li {
                        flex:0 1 auto;
                        margin: 0 0 5px 5px;

                        a {
                            display: block;
                            font-size: .875em;
                            padding: .5em 1em;
                            border-radius: 4px;
                            text-align: center;
                            color: $linkColor;
                            border: 2px solid transparent;
                            transition: all .3s ease-out;

                            &:hover, &:focus {
                                color: #fff;
                                background: darken($primaryColor, 10);
                                border: 2px solid darken($primaryColor, 10);
                            }
                        }
                    }

                    @include screen('tablet') {
                        li {
                            a{
                                color: #fff;
                                background: darken($primaryColor, 10);

                                &:hover, &:focus {
                                    font-weight: bold;
                                    color: darken($primaryColor, 10);
                                    background: transparent;
                                }
                            }
                        }
                    }
                    @include screen('mobile') {
                        flex-direction: column;
                        li { flex:1 1 100%; }
                    }
                }
                .Copyright{ margin-right: .85em; }
            }
        }

        @include screen('tablet') {
            section{
                padding: 42px 30px;
                flex-flow: row wrap;
                // 黑底
                &:first-child{
                    justify-content: flex-end;
                    .col{
                        flex: 0 0 70%;
                        padding-left: 1.5em;
                        &:first-child{
                            flex: 0 0 30%;
                            padding-left: 0;
                        }
                    }
                }
                // 標章＋隱私權
                &:last-child{
                    .col{
                        flex: 1 1 100%;
                        text-align: center;
                    }

                    // 版權連結
                    .footer_link {
                        flex-direction: row;
                        justify-content: center;
                    }
                }
            }
        }

        @include screen('mobile') {
            section{
                // 黑底
                &:first-child{
                    justify-content: flex-start;
                    .col{
                        flex: 1 1 100%;
                        padding-left: 0;
                        margin-bottom: 1em;
                        &:first-child{
                            flex: 0 0 130px;
                        }
                    }
                }
            }
        }
    }
}
