//header
.header {
    position: fixed;
    width: 100%;
    z-index: 999;
    transition: 0.3s ease-out;

    @extend %clearfix;

    // 背景
    // position: relative;
    // overflow: hidden;
    &:before {
        content: '';
        position: absolute;

        // 三角色塊
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        transform-origin: bottom left;
        transform: rotate(-28deg);
        pointer-events: none;
        z-index: -1;

        border-width: 300px 820px 0 0;
        border-image-source: url(../images/ticc/bg-default.jpg);
        right: 58%;
    }

    // 大塊陰影
    &:after{
        content: '';
        position: absolute;
        z-index: -2;
        top: 0;
        width: 100%;
        height: 160px;
        background: linear-gradient(180deg, rgba(0,0,0,0.75) 20%, rgba(0,0,0,0) 100%);
        backdrop-filter: blur(2px);
    }

    // mobile btn for extend
    %mobileCtrlBtn {
        width: 60px !important;
        height: 60px !important;
        position: absolute;
        top: 34px;
        display: block;
        font-size: 0em;
        padding: 15px;
        margin: 0;
        min-width: auto;
        min-height: auto;
        background: linear-gradient(0deg, rgba(106,27,138,1) 0%, rgba(36,8,107,1) 100%);
        border-radius: 50%;
        border: none;
        box-shadow: none;
        box-sizing: border-box;

        @include screen('tablet') {
            display: block !important;
        }
    }
    >.container {
        max-width: $container-max;
        overflow: visible;
        position: relative;

        // menu
        .sidebarCtrl {
            display: none;
            right: 30px;
            @extend %mobileCtrlBtn;
            span {
                position: absolute;
                background: #fff;
                width: 20px;
                height: 2px;
                left: 50%;
                margin-left: -10px;
                display: block;
                border-radius: 2px;
                top: 50%;
                margin-top: -7px;

                &:nth-child(2) {
                    // top: 50%;
                    margin-top: -1px;
                }
                &:nth-child(3) {
                    // top: 36px;
                    margin-top: 5px;
                }
            }
        }
        // search
        .searchCtrl {
            display: none;
            right: 100px;
            font-size: 0em;
            @extend %mobileCtrlBtn;
            &:before {
                width: 24px;
                height: 24px;
                background: url(../images/icon/icon_search2.svg) 50% 50% no-repeat;
                background-size: 20px 20px;
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -12px;
                margin-left: -12px;
                display: block;
            }
        }
    }
    h1 {
        float: left;
        // width: 300px;
        // height: 75px;
        height: 75px;
        margin: 0;
        padding: 0;
        box-sizing: border-box;

        a {
            display: inline-block;
        }
        img {
            display: block;
            // max-width: 300px;
            max-height: 110px;
            transform: scale(1);
            transition: .3s;
        }
        // @include screen('tablet') {
        //     padding: 2px 60px;
        //     width: 100%;
        //     text-align: center;
        //     height: 60px;
        //     img {
        //         width: auto;
        //         height: auto;
        //         max-height: 54px;
        //         margin: 0px auto;
        //         transform: scale(0.8);
        //     }
        // }
    }
    // 導覽列
    .navigation {

        @extend %clearfix;
        box-sizing: border-box;
        display: flex;
        // background: #ffc0cb9c;
        justify-content: flex-end;
        align-items: center;
        float: right;
        margin-top: 18px;
    
        .navlist {
            flex: 0 0 auto;
            // margin: 0.25em 0.5em 0 0;

            ul {
                padding: 0;
                margin: 0;
                font-size: 0.875em;
                list-style: none;
                display: flex;
                justify-content: flex-end;
            }
            li {
                flex: 0 0 auto;
                position: relative;
                a {
                    display: block;
                    padding: .5em 1.25em;
                    text-decoration: none;
                    // @include aSetting_nocolor;

                    color: #fff;
                }

                &:before,
                &:after{
                    content: '';
                    position: absolute;
                    width: 1px;
                    height: 24px;
                    background: #666;
                    top: 50%;
                    margin-top: -12px;
                }

                &:last-child{
                    &:after{ right: 0; }
                }
            }
        }
        // 語言
        .language {
            // select{
            //     width: auto;
            //     height: 38px;
            //     margin: 1px 0;
            //     border-radius: 0;
            //     background: url(../images/icon/icon_select_arrow.png) right 6px  top 50% no-repeat, transparent !important;
            //     border: 1px solid transparent;
            //     padding: .5em 24px .5em 1.25em;
            //     color: #fff;
            // }
            flex: 0 1 auto;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            align-self: center;
        }

        @media screen and (max-width: 1600px) {
            // 避開右側 sideBar
            padding-right: 100px;
        }

        @media screen and (max-width: 1480px) {
            margin-right: 30px;
        }
        @include screen('tablet') {
            display: none;
        }
    }

    &.sticky {
        // background-color: #fff;
        // box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

        // background: url(../images/ticc/bg-default.jpg) left top repeat-y;
        // box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;

        // .menu{
        //     >ul{
        //         >li{
        //             >a{ color: #222; }
        //             &:hover {
        //                 >a {
        //                     color: #fff;
        //                 }
        //             }
        //         }
        //     }
        // }

        // 導覽列
        // .navigation {
        //     .navlist {
        //         li a { color: #222;}
        //     }
        //     // 語言
        //     // .language{
        //     //     select{ color: #222; }
        //     // }
        // }

        // .search{
        //     button.switch{
        //         background: url(../images/icon/icon_search.svg) 50% 50% no-repeat, transparent;
        //         background-size: 16px 16px;
        //     }
        // }

        // 背景
        &:before {
            opacity: 0
        }
        h1 {
            img{
                transform: scale(0.8);
                filter: invert(1) brightness(5);
            }
        }
    }


    @media screen and (max-width: 1480px) {
        // // 背景
        // &:before {
        //     // left: -150px;
        //     right: 52%;
        // }
        // h1{ margin-left: 40px; }

        // 背景
        &:before {
            right: auto;
            left: -200px;
            opacity: 0;
        }
        // 大塊陰影
        &:after{ height: 150px;}

        h1 {
            // padding: 2px 60px;
            // width: 100%;
            margin-left: 0;
            text-align: center;
            // height: 60px;
            img {
                width: auto;
                height: auto;
                // max-height: 75px;
                margin: 0px auto;
                transform: scale(0.8);
                filter: invert(1) brightness(5);
            }
        }

        .container{
            @include gutter(60px);
        }
    }

    // @include screen('tablet') {
    //     // 背景
    //     &:before {
    //         right: auto;
    //         left: -200px;
    //         opacity: 0;
    //     }
    //     // 大塊陰影
    //     &:after{ height: 130px;}

    //     h1 {
    //         // padding: 2px 60px;
    //         // width: 100%;
    //         margin-left: 0;
    //         text-align: center;
    //         // height: 60px;
    //         img {
    //             width: auto;
    //             height: auto;
    //             // max-height: 75px;
    //             margin: 0px auto;
    //             transform: scale(0.8);
    //             filter: invert(1) brightness(5);
    //         }
    //     }
    // }
}

// test
.TT{ color: red;}

//search
.search {
    font-size: .938em;

    @include screen('tablet') {
        display: none;
    }

    button.switch{
        background: url(../images/icon/icon_search2.svg) 50% 50% no-repeat, transparent;
        background-size: 16px 16px;
        border: 1px solid transparent;
        font-size: 0;
        width: 60px;
        height: 38px;
    }

    position: relative;
    .form_grp {
        margin: 0;
        position: absolute;
        top: 0;
        right: 62px;
        border-radius: 40px;
        overflow: hidden;

        // 先隱藏
        display: none;

        input {
            margin: 0;
            padding: .5em 80px .5em 1.25em;
            box-shadow: none;
            width: auto;

            &[type='submit'] {
                position: absolute;
                right: 0;
                top: 0;
                min-width: auto;
                padding: .5em 1.25em;
                border-radius: 0;
            }
            &:focus {
                box-shadow: 0 0px 0px 2px $aFocus;
            }
        }
        button,
        .btn,
        .btn-search {
            min-width: auto;
            padding: 0.2em 0.8em;
            margin: 0;
            &:hover,
            &:focus {
                box-shadow: none !important;
            }
        }
    }
    .btn_grp {
        flex: 0 0 auto;
        padding: 0 0.5em 0;
        margin: 0;
        button,
        .btn,
        .btn-search {
            min-width: auto;
            padding: 0.2em 0.8em;
            margin: 0;
            &:hover,
            &:focus {
                box-shadow: none !important;
            }
        }
    }
    // .keywordHot {
    //     flex: 1 1 100%;
    //     ul {
    //         font-size: 0.813em;
    //         line-height: 1.65em;
    //         margin: 0;
    //         padding: 0;
    //         display: flex;
    //         justify-content: flex-end;
    //         list-style-type: none;
    //         &:before {}
    //         li {
    //             margin: 0;
    //             padding: 0.5em;
    //             flex: 0 0 auto;
    //         }
    //         a {
    //             @include aSetting_nocolor;
    //         }
    //     }
    // }
}

// m_search
.m_search {
    position: fixed;
    left: 0;
    z-index: 1000;
    // background: #333;
    background: rgba(0,0,0,.75);
    width: 100% !important;
    max-width: 100% !important;
    height: auto;
    padding: 2em 1em;
    margin-top: 120px;

    display: none;

    label {
        font-size: 0em;
        line-height: 0;
    }
    .form_grp {
        // display: flex;
        // align-items: center;

        position: relative;

        label {
            display: none;
            flex: 0 0 0%;
        }
        input {
            margin: 0;
            padding: .5em 80px .5em 1.25em;
            box-shadow: none;
            width: auto;

            &:first-child{ width: 100%; }

            &[type='submit'] {
                position: absolute;
                right: 0;
                top: 0;
                min-width: auto;
                padding: .5em 1.25em;
                border-radius: 0;
            }
        }
        .btn,
        .btn-search {
            min-width: auto;
            padding: 0.5em 0.8em;
            margin: 0;
            flex: 1 1 20%;
            max-width: 25%;
            &:hover,
            &:focus {
                box-shadow: none !important;
            }
        }
    }

    // .btn_grp {
    //     flex: 1 1 auto;
    //     padding: 0.25em 0.5em;
    //     border-bottom: solid 1px #444;
    //     box-sizing: border-box;
    //     text-align: right;
    //     .btn {
    //         width: auto !important;
    //         padding: 0.2em 0.5em !important;
    //         margin: 0;
    //         background: transparent;
    //         font-size: 0.875rem;
    //         color: #ddd;
    //         border: none;
    //         &:hover,
    //         &:focus {
    //             color: lighten($aHover, 10);
    //         }
    //     }
    // }
    // .keywordHot {
    //     flex: 1 1 100%;
    //     ul {
    //         font-size: 0.875em;
    //         line-height: 1.65em;
    //         margin: 0;
    //         padding: 0.5em 0 0 0.5em;
    //         display: flex;
    //         justify-content: flex-start;
    //         list-style-type: none;
    //         &:before {}
    //         li {
    //             margin: 0;
    //             padding: 0.5em;
    //             flex: 0 0 auto;
    //         }
    //         a {
    //             color: #fff;
    //             &:hover,
    //             &:focus {
    //                 color: lighten($aHover, 10);
    //             }
    //         }
    //     }
    // }

    .switch{ display: none; }
}

// header fix
// .header.fixed {
//     position: fixed;
//     width: 100%;
//     right: 0;
//     top: 0;
//     box-shadow: rgba(0, 0, 0, 0.5) 0 0 25px;
//     background: rgba(0, 0, 0, 0.75);
//     z-index: 999;
//     &:before {
//         background: rgba(0, 0, 0, 0.35);
//     }
//     @include screen('mobile') {
//         background: #fff;
//     }
//     .menu {
//         > ul {
//             > li {
//                 > a {
//                     color: #fff;
//                 }
//             }
//         }
//     }
//     .megamenu {
//         > ul {
//             > li {
//                 > a {
//                     color: #fff;
//                 }
//             }
//         }
//     }
// }