// 自動產生編號：https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Lists_and_Counters/Using_CSS_counters

// 選項次層

// NP
.sub_menu {
    margin-top: 6em;
    ul, ol {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0;
        padding: 1em 0;
        list-style-type: none;
    }
    li {
        flex: 0 0 49%;
        margin-bottom: 10px;
        border-radius: 5px;
       
        &:nth-child(odd) { margin-right:10px; }
        
        @include screen('mobile') {
            flex: 1 1 100%;
            &:nth-child(odd) { margin-right: 0; }
        }
        a {
            font-size: 1.125em;
            border-radius: 4px;
            padding: 1.25em 3em;
            display: block;

            color: #333;
            background: url(../images/ticc/icon_ticc.svg) right 30px top -5px no-repeat, #f0f0f0;
            background-size: 50px 50px;
            transition: .3s;

            &:hover,
            &:focus {
                color: #fff;
                padding-left: 2em;
                background: url(../images/ticc/icon_ticc.svg) right 30px top -5px no-repeat, linear-gradient(90deg, rgba(36,8,107,1) 0%, rgba(106,27,138,1) 100%), rgba(36,8,107,1);
                background-size: 50px 50px, cover;
            }
        }
    }
}

// 友站連結
.banner_link{
    margin-top: 6em;
    ul{
        @extend %flex_set;
        @include li-reset;
        li{
            @include flex-xs-equal(2, 24px);
            @include flex-sm-equal(3, 24px);
            @include flex-md-equal(4, 24px);
            @include flex-lg-equal(4, 24px);
            margin-bottom: 1.5em;
        }
    }

    a{
        display: block;
        padding: .75em;
        border: 1px solid #ddd;
        color: #222;
        border-radius: 3px;
        transform: scale(1.0);
        transition: .3s;
        .img-container3{
            height: 60px;
            background: transparent;
            background: #fff;
            img{ height: 100%; }
        }
        p{
            margin: 0 !important;
            text-align: center;
            padding-top: 10px;
            font-weight: bold;
        }

        &:hover, &:focus{
            transform: scale(1.05);
            border: 1px solid transparent;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            color: $secondaryColor;
        }
    }
}