//submenu animation
@keyframes showMenu {
    0% { left: 20px; }
    100% { left: 0px; }
}

// pc版 條列menu
.menu {
    box-sizing: border-box;
    position: relative;
    z-index: 99;
    clear: both;

    // .sticky 改下在 .header
    // &.sticky {
    //     position: fixed;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     z-index: 999;
    //     background-color: #fff;
    //     box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    //     &:after {
    //         position: absolute;
    //         content: '';
    //         width: 100%;
    //         height: 100%;
    //         top: 0;
    //         left: 0;
    //         z-index: -1;
    //     }
    //     &>ul {
    //         width: 100%;
    //         max-width: $container-max;
    //         margin: 0 auto;
    //     }
    // }

    // 預設選單 ul
    >ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        // 第一層選單樣式
        >li {
            flex: 0 1 auto;
            >a {
                display: block;
                padding: 0 1em;
                min-height: 2.5em;
                font-weight: bold;
                line-height: 2.5em;
                white-space: nowrap;
                // color: $color-word;
                color: #fff;
                background: transparent;
            }
            &.hasChild {
                >a {
                    &:after {
                        content: '';
                        width: 4px;
                        height: 4px;
                        display: inline-block;
                        margin-left: 0.5em;
                        vertical-align: middle;
                        border: 2px solid lighten($color-word, 40);
                        transform: rotate(135deg);
                        border-bottom: none;
                        border-left: none;
                        margin-bottom: 0.2em;
                    }
                }
            }
            &:hover {
                >a {
                    // color: $aHover;
                    background: $secondaryColor;
                    &:after {
                        border: 2px solid #fff;
                        border-bottom: none;
                        border-left: none;
                    }
                }
            }
        }
    }
    ul {
        li {
            position: relative;
            a {
                display: block;
                outline: none;
                text-decoration: none;
            }
            ul {
                display: none;
                overflow: visible;
                width: 99%;
                // background: rgba(0, 0, 0, 0.8);
                background: $deepColor;
                padding: 0;
                z-index: 999999;
                position: absolute;
                top: auto;
                left: 0;
                list-style: none;
                text-align: left;
                animation: showMenu 0.3s $cubic;
                font-size: 0.875em;
                // 第二層選單樣式
                li {
                    float: none;
                    a {
                        padding: 0.6em 1.2em;
                        color: #fff;
                        font-weight: bold;
                        &:hover,
                        &:focus {
                            background: $primaryColor;
                        }
                    }
                }
                li.hasChild {
                    >ul {
                        z-index: 999;
                    }
                    >a {
                        padding-right: 2em;
                        &:hover,
                        &:focus {
                            background: $primaryColor;
                        }
                        &:after {
                            content: '';
                            position: absolute;
                            right: 10px;
                            top: 1.3em;
                            width: 6px;
                            height: 6px;
                            border: 2px solid #fff;
                            transform: rotate(45deg);
                            border-bottom: none;
                            border-left: none;
                        }
                    }
                }
                ul {
                    top: 0;
                    left: 100%;
                    animation: none;
                    font-size: 1em;
                }
            }
        }
    }

    // @media screen and (max-width: 1480px) {
    //     // 預設選單 ul
    //     >ul {
    //         justify-content: flex-end;
    //     }
    // }

    @include screen('tablet') {
        display: none;
    }
}