// slick.css

/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

// 共用slick的a focus
.slick-slide {
    a {
        &:focus {
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 99;
                @include box-shadow(0px 0px 0px 2px $aFocus inset);
            }
        }
    }
}

// slick_theme.css

/* ---箭頭的樣式--- */

.slick-prev,
.slick-next {
    font-size: 0em;
    line-height: 0em;
    position: absolute;
    top: 40%;
    display: block;

    // width: 40px !important;
    // height: 60px !important;
    width: 72px !important;
    height: 72px !important;
    border-radius: 50%;

    padding: 0 !important;
    min-width: auto;
    z-index: 2;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: none;
    transition: .3s ease-out;
    &:hover,
    &:focus {
        border: none !important;
        outline: none;
        box-shadow: 0px 0px 0px 2px $aFocus inset;
    }
}


// 上一則 位置 圖片
.slick-prev {
    // left: 25px;
    // background: url('../images/slick/icon_arrow_left_inverse.png') center center no-repeat RGBA(255, 255, 255, .5);
    // background-size: 30px 30px;
    left: -24px;
    background: url(../images/ticc/icon/icon_arrow_prev.png) 50% 50% no-repeat, rgba(0,0,0,.5);
    background-size: 30px 20px;

    // 箭頭 hover及focus 樣式 
    &:hover,
    &:focus {
        // background: url('../images/slick/icon_arrow_left_inverse.png') center center no-repeat RGBA(255, 255, 255, .8);
        // background-size: 30px 30px;
        background: url(../images/ticc/icon/icon_arrow_prev.png) 50% 50% no-repeat, #6a1b8a;
        background-size: 30px 20px;
    }
}


// 下一則 位置 圖片

.slick-next {
    // right: 25px;
    // background: url('../images/slick/icon_arrow_right_inverse.png') center center no-repeat RGBA(255, 255, 255, .5);
    // background-size: 30px 30px;
    right: -24px;
    background: url(../images/ticc/icon/icon_arrow_next.png) 50% 50% no-repeat, rgba(0,0,0,.5);
    background-size: 30px 20px;

    // 箭頭 hover及focus 樣式
    &:hover,
    &:focus {
        // background: url('../images/slick/icon_arrow_right_inverse.png') center center no-repeat RGBA(255, 255, 255, .8);
        // background-size: 30px 30px;
        background: url(../images/ticc/icon/icon_arrow_next.png) 50% 50% no-repeat, #6a1b8a;
        background-size: 30px 20px;
    }
}


/* 沒有無限輪播時，滑到最兩邊資料時，箭頭暗掉 */

.slick-disabled {
    opacity: .25;
}


/* ---點的樣式---*/

// slick dots 
.slick-dots {
    position: absolute;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 9;
    list-style: none;
    box-sizing: border-box;
    li {
        position: relative;
        padding: 0;
        cursor: pointer;
        button {
            font-size: 0em;
            line-height: 0em;
            display: block;
            cursor: pointer;
            border: 0;
            outline: none;
        }
    }
}


/* ---點的位置、大小、顏色---*/

.slick-dots {
    /* 位置距離 */
    bottom: 20px;
    li {
        /* 兩點的距離 */
        margin: 0 10px;
        button {
            /* 點的顏色 */
            background: #666;
            opacity: .4;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            &:hover,
            &:focus {
                opacity: 1;
                // 點hover的顏色
                background: #21baff;
            }
            &:focus {
                opacity: 1;
                // 點focus的顏色
                background: #ff3e4d;
                // box-shadow: 0px 0px 0px 1px #ff3e4d; /* 讓focus過去的點大一些 */
            }
        }
        &.slick-active {
            button {
                opacity: 1;
                // 點 active 的顏色 
                background: $aHover;
                &:hover {
                    // 點 active  hover的顏色
                    background: #ff3e4d;
                }
                &:focus {
                    // 點 active  focus的顏色
                    background: #ff3e4d;
                }
            }
        }
    }
}

// ---------slick._scss
// 首頁大圖輪播 
.mpSlider {
    width: 100%;
    padding-bottom: 3em;
    @include gutter(0);
    .img-container {
        @include aspect-ratio(5,
        2); //PC版比例
        @include screen('mobile') {
            @include aspect-ratio(5,
            3); //Mobile版比例
        }
    }
    .slick-prev {
        @include screen('mobile') {
            top: 35%;
            left: 2%;
        }
    }
    .slick-next {
        @include screen('mobile') {
            top: 35%;
            right: 2%;
        }
    }
}

// slick._scss
// adSlider
.adSlider {
    @include gutter(70px);
    margin-bottom: 20px;
    @include screen('mobile') {
        @include gutter();
    }
    .slick-prev {
        background: url(../vendor/slick/icon_arrow_left_inverse.png) no-repeat center center;
        background-size: 80%;
        left: -15px;
    }
    .slick-next {
        background: url(../vendor/slick/icon_arrow_right_inverse.png) no-repeat center center;
        background-size: 80%;
        right: -15px;
    }
    .img-container {
        width: 165px;
        height: 55px;
        margin: 0px 15px;
        a {
            display: block;
            text-align: center;
            img {
                margin: 0 auto;
            }
        }
        &:focus {
            &:before {
                content: "";
                position: absolute;
                z-index: 9;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                box-shadow: 0 0px 0px 3px $primaryColor inset;
            }
        }
    }
}

// 日期展示
.date-slider{
    // padding: 1em 0;
    clear: both;
    .date {
        @include aspect-ratio(3, 1);
        margin: 0px 15px;
        background: #efefef;
        border: solid 2px #fff;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        position: relative;
        &:before{
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            transform-origin: top right;
            transform: rotate(65deg);
            border-width: 20px 80px 0 0;
            border-color: #390d74;
            // border-image-source: linear-gradient(0deg, #6a1b8a 0%, #24086b 100%);
            left: -10px;
            top: 0;

            opacity: .65;
        }

        a {
            color: #999;
            display: block;
            width: 100%;
            height: 100%;
            padding: 1em 0;
            text-align: center;
            font-size: 1.5em;
            line-height: 1.4;
            font-weight: bold;
            b{ font-size: 140%; }
        }

        &.act{
            background: linear-gradient(0deg, #24086b 0%, #6a1b8a 100%);
            &:before{ border-color: #fff; opacity: 1; }
            a{ color: #fff; }

            &:hover,
            &:focus { 
                a{color: #fff !important;}
            }
        }

        &:hover,
        &:focus {
            &:before{ opacity: 1;}
            a { color: #222; }
        }
    }

    // dots
    // .slick-dots {
    //     bottom: -60px;
    //     li {
    //         width: 10px;
    //         height: 10px;
    //         margin: 0 10px;
    //     }
    // }

    //Arrows
    .slick-prev, .slick-next {
        top: calc( 50% - 25px);
        width: 50px !important;
        height: 50px !important;
        border-radius: 50%;
    }

    .slick-prev {
        left: 12px;
        // background: url(../images/ticc/icon/icon_arrow_prev.png) center center no-repeat, linear-gradient(0deg, #b0b0b1 0%, #b0b0b1 100%);
        background: url(../images/ticc/icon/icon_arrow_prev.png) 50% 50% no-repeat, rgba(0,0,0,.5);
        transition: .2s ease;
        &:hover, &:focus{
            background: url(../images/ticc/icon/icon_arrow_prev.png) center center no-repeat, #6a1b8a;
        }
    }
    .slick-next {
        right: 12px;
        // background: url(../images/ticc/icon/icon_arrow_next.png) center center no-repeat, linear-gradient(0deg, #b0b0b1 0%, #b0b0b1 100%);
        background: url(../images/ticc/icon/icon_arrow_next.png) 50% 50% no-repeat, rgba(0,0,0,.5);
        transition: .2s ease;
        &:hover, &:focus{
            background: url(../images/ticc/icon/icon_arrow_next.png) center center no-repeat, #6a1b8a;
        }
    }
    .slick-disabled{ opacity: 0 !important; }
}

// 單篇
.singleSlider{
    width: 100%;
    // padding: 0 0 5em !important;
    padding: 0 !important;
    margin-bottom: 3em;
    .img-container {
        // PC版比例
        @include aspect-ratio(16,9);
        // @include screen('mobile') {
        //     // Mobile版比例
        //     @include aspect-ratio(4,3);
        // }
    }

    &:after{ display: none;}

    // .slick-prev, .slick-next{
    //     width: 72px !important;
    //     height: 72px !important;
    //     border-radius: 50%;
    // }

    // .slick-prev{
    //     background: url(../images/ticc/icon/icon_arrow_prev.png) 50% 50% no-repeat, rgba(0,0,0,.5);
    //     background-size: 30px 20px, cover;
    //     left: -24px;
    //     &:hover, &:focus{
    //         background: url(../images/ticc/icon/icon_arrow_prev.png) 50% 50% no-repeat, #6a1b8a;
    //         background-size: 30px 20px, cover;
    //     }
    // }
    // .slick-next{
    //     background: url(../images/ticc/icon/icon_arrow_next.png) 50% 50% no-repeat, rgba(0,0,0,.5);
    //     right: -24px;
    //     &:hover, &:focus{
    //         background: url(../images/ticc/icon/icon_arrow_next.png) 50% 50% no-repeat, #6a1b8a;
    //         background-size: 30px 20px, cover;
    //     }
    // }

    .slick-dots{
        height: 90px;
        align-items: center;
        background: linear-gradient(0deg, rgba(0,0,0,0.75) 20%, rgba(0,0,0,0) 100%);
        bottom: 0;

        li{
            position: relative;
            display: block;
            width: 42px;
            height: 42px;
            line-height: 42px;
            border-bottom: 0;
            &:before{
                content: '-0';
                position: absolute;
                // top: 5px;
                left: 0;
                width: 20px;
                height: 30px;
                color: #fff;
                font-style: italic;
                font-size: 1.25em;
            }
            button{
                font-size: 1.25em;
                background: transparent;
                width: 42px;
                height: 42px;
                color: #fff;
                font-style: italic;
                margin: 0;
                padding-left: 24px;
                border-radius: 0;
                opacity: 1;

                 &:hover, &:focus{
                    background: transparent;
                }

                &:before{
                    display: none;
                }
            }

            &.slick-active{
                button{
                    box-shadow: inset 0 -4px 0 0 #fff;
                    &:hover, &:focus{
                        background: transparent;
                    }
                }
            }
        }
    }

    // .slick-prev {
    //     @include screen('mobile') {
    //         top: 35%;
    //         left: 2%;
    //     }
    // }
    // .slick-next {
    //     @include screen('mobile') {
    //         top: 35%;
    //         right: 2%;
    //     }
    // }
}

// 三篇
.galleryslider{
    padding-bottom: 3em !important;
    .Card{
        margin: 3em 1em;
        transform: scale(1.0);
        transition: .3s ease;

        position: relative;
        overflow: hidden;

        // 三角窗外是黑夜
        &:before{
            content: '';
            position: absolute;
            width: 110%;
            height: 260px;
            z-index: 1;
            // background: rgba(123,17,126, .9);
            background: rgba(0,0,0, .45);
            transform: rotate(-14deg);
            transform-origin: left bottom;

            transition: .3s ease;
            opacity: 0;
        }
        a{
            position: relative;
            display: block;

            p.title{
                position: absolute;
                z-index: 2;
                font-size: 1.75em;
                color: #fff;
                width: 50%;
                height: 80px;
                top: 2em;
                padding: 0 2em;
                padding: 0 2em;
                margin: 0;

                display: flex;
                align-items: center;
                line-height: 1.4;

                transition: .3s ease;
                opacity: 0;

                span{
                    // 限行數
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .img-container{
                @include aspect-ratio(4,3);
                img{}
            }
        }
        &:hover, &:focus{
            transform: scale(1.1);
            // 三角窗外是黑夜
            &:before,
            a p.title{ opacity: 1; }
        }
    }

    @include screen('tablet') {
        padding-bottom: 1em !important;
        .Card{
            &:before,
            a p.title { opacity: 1; }
            a p.title { width: 100%; }

            // 三角窗外是黑夜
            &:before{ display: none; }

            a{
                p.title{
                    font-size: 1.25em;
                    background: rgba(0,0,0, .45);
                    padding: 2em 3em;
                    height: auto;
                    top: 0;
                }
            }
        }
    }

    @include screen('xs_mobile') {
        .slick-prev{ left: -72px; }
        .slick-next{ right: -72px; }
        .Card{
            margin: 2em .5em;
            a{
                p.title{
                    padding: 1em 1.5em;
                    font-size: 1em;
                    font-weight: bold;
                }
            }
        }
    }
}

// 四篇 roomSlider
.roomSlider{
    margin-bottom: 20px;

    @include screen('mobile') {
        @include gutter();
    }

    .img-container {}
    a {
        display: block;
        overflow: hidden;
        color: #fff;
        margin: 0 1em;
        background: #ddd;

        .img-container{
            height: 240px;
        }
        img { margin: 0 auto; }

        position: relative;
        .room-Name{
            position: absolute;
            width: 100%;
            top: 0;
            z-index: 2;
            letter-spacing: 2px;
            font-size: 1.125em;
            color: #fff !important;
            margin: 0;
            padding: 1em 1em;

            &:after{
                content: '';
                position: absolute;
                left: 0;
                top: -60px;
                z-index: -1;
                width: 500px;
                height: 160px;
                background: linear-gradient(-90deg, #24086b 0%, #6a1b8a 100%);
                transform: rotate(-22deg);
                transform-origin: bottom left;
            }
        }
    }
    // &:focus {
    //     &:before {
    //         content: "";
    //         position: absolute;
    //         z-index: 9;
    //         width: 100%;
    //         height: 100%;
    //         top: 0;
    //         left: 0;
    //         bottom: 0;
    //         right: 0;
    //         box-shadow: 0 0px 0px 3px $primaryColor inset;
    //     }
    // }
}


//  slick燈箱
.lightbox_slider {
    h3 {
        font-size: 1.5em;
        padding: 12px 0px 15px 0px;
        margin: 0.5em 0px 1.2em;
        border-bottom: 1px solid $primaryColor;
    }
    background: #fff;
    padding: 1em 0;
    clear: both;
    .cp_slider {
        @include gutter;
    }
    .img-container {
        margin: 0px 15px;
        @include aspect-ratio(4,
        3);
        overflow: hidden;
        img {
            object-fit: contain;
        }
    }
    .caption {
        padding: .5em !important;
        position: absolute;
        background: rgba(0, 0, 0, .75) !important;
        color: #FFF;
        bottom: -2em !important;
        left: 0;
        font-size: .938em !important;
        height: 2em !important;
        line-height: 1 !important;
        width: 100%;
        @include text-overflow;
        transition: .3s ease-out;
    }
    // dots
    .slick-dots {
        bottom: -30px !important;
        @include screen('mobile') {
            bottom: -40px !important;
            padding: 0;
        }
        li {
            width: 10px;
            height: 10px;
            margin: 0 10px;
        }
    }
    //Arrows
    .slick-prev {
        left: -1 * $grid-gutter-width/2;
    }
    .slick-next {
        right: -1 * $grid-gutter-width/2;
    }
    a {
        color: #555;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &:hover,
        &:focus {
            .caption {
                bottom: 0 !important;
            }
        }
    }
}

// 
// slick燈箱
.lightbox_slider_block {
    h3 {
        font-size: 1.5em;
        padding: 12px 0px 15px 0px;
        margin: 0.5em 0px 1.2em;
        border-bottom: 1px solid $primaryColor;
    }
    background: #fff;
    padding: 1em 0;
    clear: both;
    .cppic_slider {
        @include gutter;
    }
    .img-container {
        margin: 0px 15px;
        @include aspect-ratio(4,
        3);
        overflow: hidden;
        img {
            object-fit: contain;
        }
    }
    .caption {
        padding: .5em !important;
        position: absolute;
        background: rgba(0, 0, 0, .75) !important;
        color: #FFF;
        bottom: -2em !important;
        left: 0;
        font-size: .938em !important;
        height: 2em !important;
        line-height: 1 !important;
        width: 100%;
        @include text-overflow;
        transition: .3s ease-out;
    }
    // dots
    .slick-dots {
        bottom: -60px;
        li {
            width: 10px;
            height: 10px;
            margin: 0 10px;
        }
    }
    //Arrows
    .slick-prev {
        // left: -1 * $grid-gutter-width/2;
        left: -10px;
        top: 35%;
    }
    .slick-next {
        // right: -1 * $grid-gutter-width/2;
        right: -10px;
        top: 35%;
    }
    a {
        color: #555;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &:hover,
        &:focus {
            .caption {
                bottom: 0 !important;
            }
        }
    }
}


// slick-lightbox
.slick-lightbox {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background: black;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    .slick-loading .slick-list {
        background-color: transparent
    }
    .slick-prev {
        left: 5px;
        background: url(../vendor/slick/icon_arrow_left.png) center center no-repeat;
        background-size: 80%;
        z-index: 9;
    }
    .slick-next {
        right: 5px;
        background: url(../vendor/slick/icon_arrow_right.png) center center no-repeat;
        background-size: 80%;
        z-index: 9;
    }
}

.slick-lightbox-hide {
    opacity: 0;
    &.slick-lightbox-ie {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0)
    }
}

.slick-lightbox-hide-init {
    position: absolute;
    top: -9999px;
    opacity: 0;
    &.slick-lightbox-ie {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0)
    }
}

.slick-lightbox-inner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.slick-lightbox-slick-item {
    text-align: center;
    overflow: hidden;
    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -0.25em;
    }
}

.slick-caption-bottom .slick-lightbox-slick-item .slick-lightbox-slick-item .slick-lightbox-slick-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.slick-caption-dynamic .slick-lightbox-slick-item .slick-lightbox-slick-item .slick-lightbox-slick-caption {
    display: block;
    text-align: center;
}

.slick-lightbox-slick-item-inner {
    display: inline-block;
    vertical-align: middle;
    max-width: 90%;
    max-height: 90%;
}

.slick-lightbox-slick-img {
    margin: 0 auto 1em;
    display: block;
    max-width: 90%;
    max-height: 90%;
}

.slick-lightbox-slick-caption {
    margin: 20px 0 0;
    color: white;
    @extend %clearfix;
}

.slick-lightbox-close {
    position: fixed;
    top: 10px;
    right: 10px;
    display: block;
    height: 45px;
    width: 45px;
    line-height: 0;
    font-size: 0em;
    cursor: pointer;
    background: transparent;
    color: transparent;
    padding: 0;
    border: none;
    min-width: auto;
    &:focus {
        outline: none;
    }
    &:before {
        content: "";
        height: 6px;
        width: 32px;
        transform: rotate(45deg);
        position: absolute;
        top: 18px;
        background: #DDD;
        left: 6px;
        transition: .3s all ease-out;
    }
    &:after {
        content: "";
        height: 6px;
        width: 32px;
        transform: rotate(-45deg);
        position: absolute;
        top: 18px;
        background: #DDD;
        left: 6px;
        transition: .3s all ease-out;
    }
    &:hover,
    &:focus {
        background: none;
        margin-top: 0;
        border: none;
        &:before,
        &:after {
            background: #FFF;
        }
    }
}

//  同步輪播
.Syncing_slider {
    @extend %clearfix;
    position: relative;
    h3 {
        font-size: 1.5em;
        padding: 12px 0px 15px 0px;
        margin: 0.5em 0px 1.2em;
        border-bottom: 1px solid $primaryColor;
    }
    .slick-slide {
        position: relative;
    }
    .controls {
        text-align: center;
        font-weight: bold;
        max-width: 100px;
        color: #FFF;
        padding: .2em .5em;
        margin: 0px auto;
        background: $primaryColor;
        border-radius: 20px;
        text-shadow: 1px 1px 2px RGBA(0, 0, 0, .8);
    }
    .img-container {
        @include aspect-ratio(16,
        9);
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            object-fit: cover;
        }
    }
    p {
        position: absolute;
        background: RGBA(0, 0, 0, .55);
        text-align: center;
        color: #FFF;
        padding: .5em;
        box-sizing: border-box;
        @include text-overflow;
        bottom: 0px;
        width: 100%;
        height: 2.5em;
        line-height: 1.5em;
        margin: 0px;
        z-index: 2;
        @include screen('mobile') {
            display: none;
        }
    }
    .slick-next {
        background: url(../vendor/slick/icon_arrow_right.png) center center no-repeat;
        background-size: 80%;
        @include screen('mobile') {
            right: .5em;
        }
    }
    .slick-prev {
        background: url(../vendor/slick/icon_arrow_left.png) center center no-repeat;
        background-size: 80%;
        @include screen('mobile') {
            left: .5em;
        }
    }
    .Slider-for {
        width: 80%;
        min-width: 260px;
        max-width: 800px;
        margin: 1em auto;
        position: relative;
    }
    .Slider-nav {
        width: 80%;
        min-width: 260px;
        max-width: 800px;
        margin: 1em auto;
        position: relative;
        .img-container {
            p {
                display: none;
            }
        }
        /*正在動作的縮圖*/
        .slick-slide.slick-current {
            opacity: 1;
        }
        position: relative;
    }
    .slick-dots {
        display: none !important;
    }
}

