.tabSet {
    max-width: 100%;
    margin: 1em auto;
    // overflow: hidden;
    @extend %clearfix;
    @include screen('tablet') {
        width: auto;
        height: auto !important;
    }
}
// 寶弟 present
.tabSet2 {
    margin: 30px auto;
    width: 100%;
    .tabItems {
        display: flex;
        flex-flow: row nowrap;
        margin: 0 auto;
        .item {
            flex: 1 1 auto;
            font-size: 1em;
            height: 2.8em;
            text-align: center;
            border: none;
            margin: 1px;
            box-shadow: none;
            background: #ddd;
            cursor: pointer;
            &:hover { background: #cdd; }
            &.active {
                cursor: default;
                background: #379;
                color: #fff;
            }
        }
    }
    .tabContent {
        display: none;
        position: relative;
        padding: 15px;
        // box-shadow: #bbb 0 0 0 1px inset;
        a:focus { //取代原有focus
            border: 2px solid red;
            outline: none;
        }
    }
    .tabContentGroup{
        // background: #dedede;
        height: 640px;
    }
}



.tabs {
    position: relative;
    // 原來h2
    // &>.tabItem {
    //     &.active>a {
    //         background-color: $primaryColor;
    //         color: #FFF;
    //     }
    //     float: left;
    //     margin: 0;
    //     padding: 0;
    //     font-size:1em;
    //     line-height: 1;
    //     @include screen('mobile') {
    //         float: none;
    //         &>a {
    //             width: 100% !important;
    //             border-bottom: 1px solid #888;
    //         }
    //         &.active>a {
    //             border-color: #bbb;
    //         }
    //     }
    //     &>a {
    //         display: block;
    //         padding: 16px 0 14px;
    //         text-align: center;
    //         background-color: #aaa;
    //         color: #fff;
    //         font-weight: bold;
    //         text-decoration: none;
    //         @include text-overflow;
    //         box-sizing: border-box;
    //         &:hover {
    //             background: $primaryColor;
    //         }
    //     }
    // }
    // 改button
    &>.tabItem {
        &.active {
            background-color: $primaryColor;
            color: #FFF;
        }
        float: left;
        margin: 0;
        font-size:1em;
        line-height: 1;
        display: block;
        padding: 16px 0 14px;
        text-align: center;
        background-color: #aaa;
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        @include text-overflow;
        box-sizing: border-box;
        &:hover, &:focus {
            background: $primaryColor;
        }
        @include screen('tablet') {
            float: none;
            width: 100% !important;
            border-bottom: 1px solid #888;
            &.active {
                border-color: #bbb;
            }
        }
    }
}
//多組 可設定差異
// .example-2 {
//     .tabItem:hover {
//         background: $secondaryColor;
//     }
//     .tabItem.active {
//         background: $secondaryColor;
//     }
// }

.space{
    .tabItem{
        background: #f5f5f5;
        color: #666;
        border: transparent;
        padding: 20px 0;
        border-radius: 2px;
        border: solid 1px #ddd;

        &:hover, &:focus {
            color: #fff;
            background: $secondaryColor;
        }

        &.active{}
    }
    .tabContent{
        .singleSlider{
            margin-bottom: 0;

            .draggable{}
        }
        .singleSlider, .img-container, iframe{ height: 640px; }
        .img-container{
            background: #fff;
            border: 1px solid #eaeaea;
        }

        // @include screen('notebook') {
        @include screen('tablet') {
            .singleSlider,
            .singleSlider .draggable,
            .img-container,
            iframe{ height: 420px; }

            // .singleSlider .draggable{
            //     overflow: hidden;
            // }
        }

        // @include screen('mobile') {
        //     .singleSlider, .img-container, iframe{ height: 360px; }
        // }
    }
}


// 顯示content
.active+.tabContent {
    display: block;
}
.tabContent {
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    clear: both;
    padding: 30px 20px;
    display: none;
    @include screen('tablet') {
        position: static;
    }
    ul {
        @include li-reset;
    }
    li {
        margin: 0 0 1.3em 0;
        padding: 0;
        line-height: 1.6;
        border-bottom: 1px #CCC dashed;
        @include screen('tablet') {
            @include text-overflow();
        }
        a {
            @include aSetting_nocolor;
        }
        time {
            display: inline-block;
            margin: 0 0 0 1em;
            font-size: .813em;
            color: #666;
        }
    }
}