/////////////////////////////////////////////////////////以下為demo範例///
// 首頁區塊設定
// -------------------------------- 共用

// more按鈕
// a.more {
//     display: block;
//     width: 10em;
//     text-align: center;
//     height: 2.5em;
//     margin: .5em auto .5em;
//     line-height: 2.5;
//     color: $primaryColor;
//     border: 1px solid $primaryColor;
//     text-align: center;
//     overflow: hidden;
//     vertical-align: middle;
//     -webkit-transform: perspective(1px) translateZ(0);
//     transform: perspective(1px) translateZ(0);
//     box-shadow: 0 0 1px transparent;
//     position: relative;
//     -webkit-transition-property: color;
//     transition-property: color;
//     -webkit-transition-duration: 0.2s;
//     transition-duration: 0.2s;
//     &:after {
//         content: "";
//         width: 12px;
//         height: 12px;
//         border: 2px solid #FFF;
//         transform: rotate(45deg);
//         position: absolute;
//         right: -10px;
//         top: 14px;
//         border-left: none;
//         border-bottom: none;
//         transition: .3s ease-out;
//     }
//     &:before {
//         content: "";
//         position: absolute;
//         z-index: -1;
//         top: 0;
//         left: 0;
//         right: 0;
//         bottom: 0;
//         background: $primaryColor;
//         -webkit-transform: scale(0);
//         transform: scale(0);
//         -webkit-transition-property: transform;
//         transition-property: transform;
//         -webkit-transition-duration: 0.2s;
//         transition-duration: 0.2s;
//         -webkit-transition-timing-function: ease-out;
//         transition-timing-function: ease-out;
//     }
//     &:hover,
//     &:focus,
//     &.active {
//         color: white;
//         &:before {
//             -webkit-transform: scale(1);
//             transform: scale(1);
//         }
//         &:after {
//             right: 15px;
//         }
//     }
// }


// 父層啟動 flex ------------------
$m-gutter: 4px;
.hotLinks,
.contentUs,
.contentUs .col:last-child{
    .container{
        @extend %flex_set;
    }
}

// main section ------------------
.main > section{
    margin: 60px auto;
}

// h2.title ----------------------
// 預設：黑 ＋ 斜線
h2.title{
    font-size: 2em;
    // margin: 0 0 2.2em !important;
    span{
        font-size: 50%;
        line-height: 3;
        text-transform: uppercase;
    }

    position: relative;
    z-index: 1;
    &:after{
        content: '';
        // width: 260px;
        width: 320px;
        height: 3px;
        position: absolute;
        background: #121212;
        // transform: rotate(-20deg);
        transform: rotate(-26deg);
        left: -16px;
        // bottom: 0;
        bottom: -30px;
        z-index: 99;
    }

    @include screen('xs_mobile') {
        &:after{
            background: linear-gradient(-26deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 80%);
        }
    }
}

// 活動標題
h2.act_title{
    font-size: 3em;
    letter-spacing: 2px;
    margin: 1em 0 0.45em;
}
.act_during{
    display: flex;
    flex-flow: row nowrap;
    padding-bottom: 2em;
    margin-bottom: 2em;

    position: relative;
    &:after{
        content: '';
        position: absolute;
        width: 130px;
        height: 4px;
        background: #000;
        left: 0;
        bottom: 0;
    }

    .col{
        flex: 0 0 auto;
        margin-right: 3em;

        div{
            display: inline-block;
            font-weight: bold;
            text-align: center;
            font-size: 1.125em;
            b.date{
                font-size: 2.5em;
                letter-spacing: 3px;
                line-height: 1.2;
            }
            span{ letter-spacing: 1px;}

            &:nth-child(2){
                margin-left: 6px;
            }
        }
    }

    @include screen('mobile') {
        flex-wrap: wrap;
        .col{
            margin-right: 0;
            &:first-child{
                margin-bottom: 1em;
            }
        }
    }
}

// 變色設定
.VR,
.contentUs{
    h2.title{
        color: #fff;
        &:after{
            background: #fff;
        }
    }
}
// 滿版、位置設定
.full{
    h2.title{
        max-width: 1440px;
        margin: auto !important;
    }
}

// 表單 ----------------------------
.planSearch,
.contentUs .col:last-child{
    .flex-form{
        .form_grp{
            border-bottom: transparent;
        }
        .form_title{
            color: #373636;
            align-self: center;
        }
        .form_content{
            align-items: center;
        }
    }
    input, select{
        border: 1px solid #373636;
        font-weight: bold;
        letter-spacing: 1px;
        +b{ padding: 0 6px; }
    }
    input[type="text"],input[type="tel"],input[type="email"]{
        padding: .75em 1.25em;
    }
    select{
        padding: .75em 2em .75em 1.25em;
        background: #fff url(../images/icon/icon_select_arrow.png) no-repeat right 8px center;
    }
    .btn-submit{
        border-radius: 2px;
        background: #000;
        color: #fff;
        height: 60px;
    }
}

// 左上色塊、三角色塊 ----------------
.hero,
.hero .btn_box a.btn,
.m_area .btn_box a.btn,
.VR{
    position: relative;
    overflow: hidden;
    &:before{
        // 三角色塊
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        transform-origin: bottom left;
        transform: rotate(-22deg);
    }
}

// full ---------------------------
.full{
    .container{
        padding-left: 0 !important;
        padding-right: 0 !important;

        @media screen and (max-width: 1440px) {
            h2.title{
                margin-left: 40px !important;
            }
        }
    }
}

// m_area -------------------------
.m_area{
    // 登入＋查詢
    .btn_box{
        padding: 0 25px;
        a.btn{
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;

            background: rgba(0,0,0,.65);
            border: 2px solid #fff;
            border-radius: 3px;
            color: #fff;
            margin: .25em 0;
            // line-height: 2;
            font-size: 1.125em;
            white-space: normal;
            padding: .5em 0 !important;
            span{
                display: block;
                width: 100%;
                padding-top: 16px;

                position: relative;
                &:before{
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: 8px;
                    margin-left: -15px;
                    width: 30px;
                    height: 2px;
                    background: #fff;
                }
            }
            &:before{
                border-width: 90px 200px 0 0;
                border-color: $primaryColor;
                left: -30px;
                bottom: 50%;
            }

            &:last-child{
                &:before{
                    border-color: $secondaryColor;
                }
            }
        }
    }
    .sidebar .navigation ul{
        border: 1px solid transparent;
    }
    .language{
        select{
            margin: .3em 0;
        }
    }
}


// -------------------------------------------------------------

// hero
.hero{
    margin-top: 0 !important;

    .container{
        min-height: 460px;
        max-height: 720px;
        background: #000;

        // 讓影片垂直置中
        display: flex;
        align-items: center;
        justify-content: center;

        // 漸層黑瀑：父層.hero > .container
        position: relative;
        &:before{
            content: '';
            position: absolute;
            top: 0;
            width: 100%;
            height: 40%;
            background: linear-gradient(180deg, rgba(0,0,0,0.75) 20%, rgba(0,0,0,0) 100%);
        }

        .slogen{
            position: absolute;
            font-size: 2.6em;
            color: #fff;
            text-transform: uppercase;
            line-height: 1.6;
            left: 12%;
            bottom: 15%;
            z-index: 1;
        }

        // 登入＋查詢
        .btn_box{
            position: absolute;
            top: 160px;
            right: 12%;
            z-index: 1;
            a.btn{
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;

                // width: 220px;
                width: auto;
                background: rgba(0,0,0,.65);
                border: 2px solid #fff;
                border-radius: 3px;
                color: #fff;
                // padding: .75em 1.25em;
                margin-bottom: .5em;
                line-height: 2.2;
                font-size: 1.125em;
                white-space: normal;

                transition: .3s;
                span{
                    display: block;
                    width: 100%;

                    position: relative;
                    &:before{
                        content: '';
                        position: absolute;
                        left: 50%;
                        top: 0;
                        margin-left: -13px;
                        width: 26px;
                        height: 2px;
                        background: #fff;
                    }
                }

                &:before{
                    border-width: 90px 200px 0 0;
                    border-color: $primaryColor;
                    left: -30px;
                    bottom: 50%;
                }

                &:last-child{
                    &:before{
                        border-color: $secondaryColor;
                    }
                }

                &:hover, &:focus{
                    background: $primaryColor;
                    &:last-child{
                        background: $secondaryColor !important;
                    }
                }

            }
        }

        video {
            &.viedo_img{
                margin: 0 auto;
                // width: auto;
                // height: 100%;
                width: 100vw;
                height: 100%;
                // display: block;
            }
        }
    }

    // 左上色塊：父層.hero
    position: relative;
    overflow: hidden;
    // &:before{
    //     // 三角色塊
    //     border-width: 240px 900px 0 0;
    //     border-image-source: url(../images/ticc/bg-default.jpg);
    //     left: -100px;
    //     // left: -240px;
    //     z-index: 1;
    // }

    // @media screen and (max-width: 1700px) {
    //     // 左上色塊：父層.hero
    //     &:before{
    //         // 三角色塊
    //         left: -200px;
    //     }
    // }
    // @media screen and (max-width: 1300px) {
    //     // 左上色塊：父層.hero
    //     &:before{
    //         // 三角色塊
    //         left: -260px;
    //     }
    // }

    @media screen and (max-width: 1199px) {
        .container{
            // img{
            //     max-width: fit-content;
            //     height: 600px;
            //     margin-left: -50%;
            // }
        }
    }
    @include screen('tablet'){
        .container{
            .slogen{
                font-size: 2.2em;
                line-height: 1.4;
                left: 8%;
                bottom: 2%;
            }
            img{
                max-width: fit-content;
                height: 600px;
                // margin-left: -50%;
            }
        }

        // 漸層黑瀑：父層.hero > .container ---> .container:before
        // 登入＋查詢 ---> .container .btn_box
        // 左上色塊：父層.hero ---> &:before
        .container .btn_box,
        &:before{ display: none; }
    }
    @include screen('mobile'){
        .container{
            height: 520px;

            .slogen{ font-size: 1.6em; }
            video {
                &.viedo_img{
                    width: auto;
                    // 影片寬度 750px
                    margin-left: -20%;
                }
            }
            // .img-containe{
            //     img{ object-fit: cover; }
            // }

            img{
                margin-left: -50%;
            }
        }

        // 左上色塊：父層.hero
        &:before{
            // 三角色塊
            // top: -20px;
        }
    }
}

// 內頁的 hero 高度調整，影片改為圖片
.container-hero{
    .hero{
        .container{
            max-height: 460px;
            overflow: hidden;

            .slogen{
                font-size: 2.4em;
                line-height: 1.4;
                bottom: 20px;
            }
        }
    }
    
    // +.container{
    //     margin-top: 2.4em;
    //     @include gutter(0);
    // }
}


// 計畫你的活動
.planSearch{
    h2.title{
        margin: 3em 0 -1.4em !important;

        +p{
            width: 50%;
            float: right;
            margin-top: -6em;
            line-height: 2;
            font-size: 1.125em;
            padding-right: 50px;
        }
    }
    .box{
        background: url(../images/ticc/bg-mp-form.jpg) 50% 50% no-repeat;
        background-size: cover !important;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
        width: 96%;
        float: right;

        padding-top: 10em;
        padding-bottom: 10em;
    }

    form{
        max-width: 800px;
        margin: auto;
    }
    .flex-form{
        .form_title{
            text-align: right;
            padding-right: 30px;
        }
    }
    input[type="text"]{ text-align: right; }
    .btn-submit{
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 0;
        width: 20%;
    }

    @media screen and (max-width: 1480px) {
        .container{
            padding-left: 40px;
            padding-right: 120px;
        }

        .btn-submit{
            right: 120px;
        }
    }

    @include screen('tablet'){
        display: none;
    }
}

// 手機版：links 2欄重複
.hotLinks{
    .container{
        &:before, &:after{ display: none;}

        a{
            background: #343434;
            color: #fff;
            font-size: 1.45em;
            text-align: center;
            padding: 40px 0;
            margin: 10px 0;

            @include flex-xs(12, 0px);
            @include flex-sm(6, 6px);
            @include flex-md(6, 6px);
            @include flex-lg(6, 6px);

            // 左上色塊
            position: relative;
            overflow: hidden;
            &:before{
                content: '';
                position: absolute;

                width: 0;
                height: 0;
                border-style: solid;
                border-width: 100px 200px 0 0;
                border-image-source: linear-gradient(90deg, rgba(106,27,138,1) 0%, rgba(36,8,107,1) 50%);

                transform-origin: bottom left;
                transform: rotate(-20deg);
                left: 0;
                top: -60px;
                // bottom: 60%;
            }
        }
    }

    display: none;
    @include screen('tablet'){
        display: block;
    }
}

// VR 滿版：滿版
.VR{
    background: url(../images/ticc/bg-VR.jpg) 50% top no-repeat;
    height: 680px;

    // 左上色塊
    position: relative;
    overflow: hidden;
    &:before{
        border-width: 380px 1200px 0 0;
        border-image-source: linear-gradient(90deg, rgba(106,27,138,1) 0%, rgba(36,8,107,1) 100%);
    }

    .container{
        max-width: 1440px  !important;
    }

    // default font-size: 2em
    h2.title{
        &:after{ display: none; }

        letter-spacing: 3px;
        line-height: 1;
        padding-top: 90px;
        font-size: 3em;

        b{ font-size: 62.5%; }
        em{
            font-size: 40%;
            padding: 0 4px;
        }
        span{
            display: block;
            width: 260px;
            margin-top: 55px;
            line-height: 1.4;
            text-align: center;
            font-size: 75%;

            b{
                font-size: 66.6%;
                display: block;
            }
        }
    }

    a.more {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 186px;
        height: 186px;
        border-radius: 50%;
        background: rgba(0,0,0,.75);
        color: #fff;
        border: 1px solid #fff;
        font-size: 1.35em;
        letter-spacing: 2px;
        line-height: 1.4;
        font-weight: bold;

        margin: 90px 0 0 37px;
    }
}
// .VR-rwd {
//     position: relative;
//     padding-bottom: 50%;
//     padding-top: 30px;
//     height: 0;
//     overflow: hidden;

//     iframe {
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         // height: 100%;
//     }
// }


// 熱門活動 slider：滿版
.cardSlider{
    // padding: 30px auto;
    padding-bottom: 50px;

    .slick-dots{
        // bottom: 0;
        // max-width: 1440px;
        width: calc( 100% - ((100% - 1440px)/2) - (80px + 72px + 30px));
        justify-content: right;

        li{
            // background: pink;

            position: relative;
            display: block;
            width: 30px;
            height: 30px;
            &:before{
                content: '-0';
                position: absolute;
                top: 1.5px;
                left: 0;
                width: 20px;
                height: 30px;
                // background: aquamarine;
                font-style: italic;
            }

            button{
                font-size: 1em;
                background: transparent;
                width: 30px;
                height: 30px;
                font-style: italic;
                margin: 0;
                padding-left: 20px;
                border-radius: 0;
                border-bottom: 4px solid transparent;
                opacity: 1;

                 &:hover, &:focus{
                    background: transparent;
                }

                &:before{
                    display: none;
                }
            }

            &.slick-active{
                button{
                    // background: pink;
                    border-bottom: 4px solid #674f11;

                    &:hover, &:focus{
                        background: transparent;
                    }
                }
            }
        }
    }

    .slick-prev, .slick-next{
        top: initial;
        bottom: 0;
        width: 72px !important;
        height: 72px !important;
        border-radius: 50%;
    }
    .slick-prev{
        left: auto;
        right: calc((100% - 1440px)/2 + 80px);
        background: url(../images/ticc/icon/icon_arrow_prev.png) 50% 50% no-repeat,linear-gradient(180deg, #6a1b8a 0%, #24086b 100%);
        background-size: 30px 20px, cover;
    }
    .slick-next{
        right: calc((100% - 1440px)/2);
        background: url(../images/ticc/icon/icon_arrow_next.png) 50% 50% no-repeat,linear-gradient(180deg, #6a1b8a 0%, #24086b 100%);
        background-size: 30px 20px, cover;
    }

    @media screen and (max-width: 1640px) {
        .slick-dots{
            width: calc( 100% - 280px);
        }
        .slick-prev{ right: 200px; }
        .slick-next{ right: 120px; }
    }
    @include screen('mobile') {
        .slick-prev{
            left: 50%;
            margin-left: -78px;
        }
        .slick-next{
            right: 50%;
            margin-right: -78px;
        }
    }
}
// 內頁的熱門活動
.innerpage .cardSlider{
    // @media screen and (max-width: 1600px) {
    //     .slick-dots{
    //         width: calc( 100% - ((100% - 1440px)/2) - (80px + 72px + 30px) - 180px);
    //     }
    //     .slick-prev{
    //         right: calc((100% - 1440px)/2 + 260px);
    //     }
    //     .slick-next{
    //         right: calc((100% - 1440px)/2 + 180px);
    //     }
    // }

    // @media screen and (max-width: 1480px) {
    //     .slick-dots{
    //         width: calc( 100% - ((100% - 1440px)/2) - (80px + 72px + 30px) - 180px);
    //     }
    //     .slick-prev{
    //         right: calc((100% - 1440px)/2 + 260px);
    //     }
    //     .slick-next{
    //         right: calc((100% - 1440px)/2 + 180px);
    //     }
    // }
}

// 卡片式
.info_card{
    margin: 3em 1em;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    transform: scale(1);
    transition: .3s;

    > .img-container{
        @include aspect-ratio(3,2);
    }

    h3.title{
        font-size: 1.25em;
        margin: 1.5em 0;
        letter-spacing: 1px;
        text-align: left;
        line-height: 1.4;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }
    p{
        margin: 1em 0 2em;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        overflow: hidden;
    }
    .info{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        img{
            flex: 0 0 auto;
            max-width: 100px;
            margin-right: 1em;
        }
        time{
            flex: 1 1 auto;
            line-height: 1.4;
            b{ letter-spacing: 2px; }

            span{
                padding-left: 20px;
            }
        }

        position: absolute;
        bottom: 32px;
    }

    a{
        display: block;
        padding: 56px 38px;
        color: #222;
        height: 712px;
    }

    &:hover, &:focus{
        transform: scale(1.05);
    }

    @include screen('notebook') {
        a{
            padding: 50px 32px;
            height: 590px;
        }
    }
}

// 聯絡我們：2欄、3:2
.contentUs{
    margin: 60px auto;
    .container{
        align-items: stretch;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }
    .col{
        @include flex-xs(12, 0px);
        @include flex-sm(12, 0px);
        @include flex-md(6, $m-gutter);
        @include flex-lg(6, $m-gutter);
        @include gutter();

        &.map-rwd {
            position: relative;
            padding-bottom: 50%;
            padding-top: 30px;
            // height: 0;
            overflow: hidden;

            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        &:last-child{
            @include flex-xs(12, 0px);
            @include flex-sm(12, 0px);
            @include flex-md(6, $m-gutter);
            @include flex-lg(6, $m-gutter);

            background: linear-gradient(0deg, rgba(106,27,138,1) 0%, rgba(36,8,107,1) 100%);
            color: #fff;
            padding: 64px 46px;
            p{
                line-height: 1.8;
                padding-top: 6em;
            }

            .flex-form{
                .form_grp{ padding: 0; }
                .form_title{
                    color: #fff;
                    padding-top: 0;
                }
                .form_content{}
            }
            .btn_grp{ padding: 0; }
            .btn-submit{ width: 240px; }

            @media screen and (max-width: 1480px) {
                padding-right: 120px;
            }
            @include screen('tablet') {
                padding-right: 46px;
            }
        }
    }
}