* { box-sizing: border-box; }
html { scroll-behavior: smooth; }
body {
    background: url(../images/ticc/bg-default.jpg) left top repeat-y;
    &.noscroll {
        position: static !important;
        width: 100%;
        height: 100%;
        overflow: hidden !important;
        overflow-y: hidden !important;
        margin: 0;
        padding: 0;
    }
}

// 最外圍預設為100%
.wrapper {
    width: 100%;
    margin: 0px auto;
    @include screen('tablet') {
        background: #FFF;
        overflow: hidden;
        overflow-y: auto;
    }
}

.bg-white{
    background: #fff;
    max-width: 100% !important;
    padding-left: 60px !important;
    padding-right: 120px !important;

    @media screen and (max-width: 1600px) {
        .center_block{
            padding-right: 0 !important;
        }
    }

    @media screen and (max-width: 1199px) {
        padding-right: 0 !important;
        padding-left: 0 !important;

        .functions{
            @include gutter(60px);
        }
    }
}

.hot{
    display: inline-block;
    background: red;
    color: #fff;
    font-size: .813em;
    font-weight: bold;
    padding: 2px 16px;
    margin: 0 6px;
    border-radius: 30px;
}

// 整體共用container樣式，請注意首頁切版頁面的整齊
.container {
    padding: 0;
    margin: 0 auto;
    max-width: $container-max; //請看_variable.scss

    @include screen('tablet') {
        @include gutter(60px);
    }
}

.main {
    position: relative;
    margin: 0 auto;
    // 可先設定一個中央區塊最大寬，限制accesskey對齊
    h2 { line-height: 1.25em; }
}

// 全站共用 /////////////////////////////////////////

// flex  /////////////////////////////////////////
.flex-2-col{
    @extend %flex_set;

    +.card{
        margin-top: 2em;
    }
}
.flex-2-col{
    .col{
        @include flex-xs-equal(1, 0px);
        @include flex-sm-equal(2, 0px);
        @include flex-md-equal(2, 0px);
        @include flex-lg-equal(2, 0px);
        // @include gutter();
    }
}

// 右邊 sticky function
.sideBar{
    position: fixed;
    right: 0;
    background: linear-gradient(0deg, rgba(106,27,138,1) 0%, rgba(36,8,107,1) 100%);
    bottom: 100px;
    z-index: 999;
    padding: 40px 0;
    margin: 0 !important;

    transition: all 300ms ease;

    &:before{
        content: '';
        position: absolute;
        width: 120px;
        height: 2px;
        background: #fff;
        transform: rotate(-20deg);
        bottom: 166px;
        left: 16px;
    }

    a{
        display: block;
        color: #fff;
        text-align: center;
        font-weight: bold;
        padding: 16px 24px;

        &.sb-scrollToTop{
            margin-top: 2.4em;
            padding-top: 4em;
            background: url(../images/ticc/icon/scrollTop.svg) 50% 30px no-repeat;
            background-size: 24px 24px;
        }

        position: relative;
        &:after{
            content: '';
            position: absolute;
            width: 12px;
            height: 1px;
            background: #fff;
            left: 50%;
            top: 0;
            margin-left: -6px;
        }

        &:first-child, &:last-child{
            &:after{ display: none; }
        }
    }

    @media screen and (max-width: 1600px) {
        // right: -86px;
    }

    @include screen('tablet'){
        display: none;
    }
}
// 鯨魚
.abgne_float_game {
    position: fixed;
    bottom: 10px;
    right: 6px;
    // z-index: 100000000;
    z-index: 9999;
    a{ display: block; }
    img { width: 90px; }

    @include screen('tablet') {
        bottom: 80px;
        img { width: 75px; }
    }
}
// 懶得找 sass 原檔改  ----------------------------
.cp{
    blockquote,
    .publish_info{ background: #fff; }
}
.lightbox_slider_block{ background: transparent; }

// 內頁 main title
.mainTitleBox{
    max-width: 1440px;
    margin: auto;

    position: relative;
    .function{
        position: absolute;
        right: 0;
        top: 0;
        margin: 1em 0;
    }

    // 活動詳目頁：分享＋加入google月曆
    .link{
        top: inherit;
        right: 0;
        bottom: 0;
    }

    @media screen and (max-width: 1600px) {
        .function,
        .link{
            // 避開右側 sideBar
            right: 100px;
        }
    }
     @media screen and (max-width: 1480px) {
        @include gutter(80px);
        .function,
        .link{
            // 避開右側 sideBar
            right: 140px;
        }
    }
    @media screen and (max-width: 1200px) {
        .function,
        .link{
            // 避開右側 sideBar
            right: 40px;
        }
    }

    @include screen('mobile') {
        .function,
        .link{ position: static; }
    }
}
// 內頁內容區塊 卡片式
.innerpage .center_block .card{
    // margin: 1em 0 2em;

    .inner{
        background: #fff;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 4px;
        padding: 1em 2.5em;
        // margin-top: 1.25em;

        >div{
            // border-bottom: 1px solid #adadad;
            padding: 1em 0;

            position: relative;
            &:after{
                content: '';
                position: absolute;
                width: calc(100% + 5em);
                height: 1px;
                background: #f0f0f0;
                bottom: 0;
                left: -2.5em;
            }

            &:last-child{
                &:after{
                    display: none;
                }
            }

            .box{
                padding: 1em 0;
                h4{
                    color: #222;
                    font-size: 1.125em;
                }
            }
        }

        .btn_grp{
            .btn{
                min-width: 220px;
                padding: .75em 3em; 
            }

            // &:before{
            //     content: '';
            //     position: absolute;
            //     width: calc(100% + 5em);
            //     height: 2px;
            //     background: #fff;
            //     top: -2px;
            //     left: -2.5em;
            // }
        }

        .flex-form{
            .form_grp{
                &:last-child{
                    border-bottom: none;
                }
            }

            .form_title{
                max-width: 180px;
                flex: 0 0 180px;
            }
            .form_content{
                max-width: calc(100% - 180px);
                flex-basis: calc(100% - 180px);
            }
        }

        form{
            .btn_grp{
                .btn{ min-width: auto; }
            }
        }
    }

    .section_title{
        font-size: 1.6em;
        // color: $secondaryColor;
        color: #222;
        margin-top: 2em;

        +time{
            line-height: 2.6;
            font-weight: 500;
        }
    }

    .alert_info{
        h3{
            text-align: center;
            margin: 2em 0 0;
        }
        h3:before,
        &:after{ display: none; }
    }

    h3{
        font-size: 1.75em;
        line-height: 1.4;
        color: #0c2577;

        position: relative;
        &:before{
            content: '';
            position: absolute;
            width: 5px;
            height: 42px;
            background: #0c2577;
            left: -1.4em;
            // top: -9px;
        }
    }
    h4{
        margin: 0;
        color: #b2b2b2;

        +p{
            margin: 18px 0 22px 32px;
            font-size: 1.2em;
        }
    }
    p{
        margin: 18px 0 22px 0;

        b{ color: #9d0000; }
        a{
            display: inline-block;
            padding: 0 4px;
            text-decoration: underline;

            &:hover, &:focus{
                text-decoration: none;
            }
        }
    }
    .info{
        .flex-form{
            .form_grp{
                border-bottom: 0;
                flex-flow: row nowrap;
            }
        }
    }
}
// 預約編號
.reserve_num{
    font-size: 1.65em;
    // color: $secondaryColor;
    color: #6b6b6b;
    line-height: 70px;
    b{ padding-left: .5em; color: #222;}
}
.state_label{
    text-align: right;

    span{
        display: inline-block;
        background: url(../images/ticc/icon/icon_coin.svg) 18px 50% no-repeat, #531580;
        background-size: 20px 20px;
        // background: #531580;
        color: #fff;
        padding: .45em 1.25em .45em 3em;
        border-radius: 3px;

        &.paid{
            background: url(../images/ticc/icon/icon_paid.svg) 18px 50% no-repeat, #009688;
            background-size: 20px 20px;
        }
        &.delay{
            background: url(../images/ticc/icon/icon_delay.svg) 18px 50% no-repeat,#6f5b20;
            background-size: 20px 20px;
        }
        &.error{
            box-shadow: none;
            background: url(../images/ticc/icon/icon_error.svg) 18px 50% no-repeat,#b70000;
            background-size: 20px 20px;
        }
        &.finish{
            background: url(../images/ticc/icon/icon_smile.svg) 18px 50% no-repeat,#3d3d3d;
            background-size: 20px 20px;
        }
    }

    time{
        font-weight: bold;
        line-height: 2;
    }
}
// 登入
.login{
    width: 420px;
    margin: auto;
    .flex-form{
        .form_grp{
            border-bottom: transparent;

            .form_title{
                font-size: 1.35em;
                // padding-bottom: .65em !important;
                padding-bottom: .25em !important;
            }
        }
    }
    p{
        text-align: center;
        line-height: 2;
    }
    @include screen('tablet') {
        width: 100%;
    }
}
// 篩選
.filter_box{
    width: 90%;
    margin: auto;
    .col{
        @include gutter(60px);
    }
    .filter_search{ padding-right: 85px; }
    .flex-2-col{
        .form_grp{
            border-bottom: transparent;
            .form_title{
                font-size: 1.25em;
                padding-bottom: .25em !important;
            }
            .form_content{ position: relative; }
        }
        .btn{
            flex: 0 0 auto !important;
            width: 40px;
            height: 40px;
            font-size: 0;

            position: absolute;
            top: 4.8px;
            right: 12px;
        }
        .btn-reset,
        .btn-submit{ border: transparent !important; }
        .btn-reset{
            right: 52px;
            background: url(../images/ticc/icon/icon_close.svg) 50% 50% no-repeat !important;
            background-size: 16px 16px !important;

            &:hover{
                background: url(../images/ticc/icon/icon_close.svg) 50% 50% no-repeat, #ddd !important;
                background-size: 16px 16px !important;
            }
        }
        .btn-submit{
            background: url(../images/ticc/icon/icon_search.svg) 50% 50% no-repeat !important;
            background-size: 16px 16px !important;

            &:hover{
                background: url(../images/ticc/icon/icon_search.svg) 50% 50% no-repeat, #ddd !important;
                background-size: 16px 16px !important;
            }
        }
    }
    .dateBox{
        .datepick {
            margin-left: .3em;
            margin-right: 0;
            padding-right: 0;

            &:before {
                content: "~";
                font-size: 1.5em;
                color: #777;
            }

            @include screen('xs_mobile') {
                margin-left: 0em;

                &:before { display: none; }
            }
        }
    }
}
.login,
.filter_box{
    padding: 3em 0 0 !important;

    .form_title{
        color: #222 !important;
    }
}
// 客服、左右欄
.chat_content_inner{
    display: flex;
    padding-top: 1em;
    padding-bottom: 1em;
    flex-flow: column wrap;

    .title,
    .title_pic{
        // @include title(700);
        margin: 0;
        padding: 10px 16px;
    }

    p, a{
        // @include paragraph(500);
        margin: 0;
        padding: 8px 16px;
    }

    // a{
    //     display: block;
    //     border-radius: 10px;

    //     &:hover{
    //         background: $primaryColor-10;
    //     }
    // }

    .title_pic{
        text-align: center;
        color: #fff;
        background: url(../images/bg_title.png) 50% 50% no-repeat;
        background-size: cover;
        display: block;
        border-radius: 10px;

        padding: 16px 16px;
        margin-bottom: 10px;
    }
    .t_center{ text-align: center; }

    // .message_user
    .message_received,
    .message_user{
        flex: 1 1 100%;
        max-width: 100%;
        margin-bottom: 12px;

        // 控制內部物件
        display: flex;
        flex-flow: row wrap;
    }

    // 訊息發送時間 style
    .received_time{
        flex: 1 1 100%;

        font-size: $caption;
        color: $Nature-b-Color-40;
        margin-top: 8px;
        line-height: 1.3;
    }

    .service_message,
    .user_message{
        margin-top: 6px;
        &:first-child{ margin-top: 0; }

        a{
            display: block;
            border-radius: 10px;

            &:hover{
                background: $primaryColor-10;
            }
            &:focus{
                background: transparent;
            }

            @media screen and (max-width: 767px) {
                &:hover{
                    background: transparent;
                }
            }
        }
    }

    // 客服端
    .message_received{
        // background: #ddd;
        padding-left: 1em;

        .service_icon{
            flex: 0 0 80px;
            padding-right: 10px;
        }

        .service_wrap{
            flex: 0 1 auto;
            width: calc(100% - 80px);
        }

        .service_message{
            flex: 0 1 auto;
            width: fit-content;
            max-width: 85%;
            margin-top: 10px;

            background: $primaryColor-10;
            border-radius: 0px 20px 20px 20px;
            padding: 12px 16px;
            margin-right: 8px;

            // @include paragraph(500);

            .img-container{
                background: #fff;
                height: 170px;
                border-radius: 10px;
                +p{
                    padding: 8px 0;
                }
            }
        }
        
        // 訊息發送時間、反饋
        .received_time, .feedback{ padding-left: 100px; }

        // 連續兩個 客服端對話筐時
        // +.message_received{
        //     margin-top: 1em;
        // }
    }
    // 使用者
    .message_user{
        padding-right: 1em;
        flex-flow: row-reverse;

        .user_icon{
            flex: 0 0 80px;
            padding-left: 10px;
            text-align: center;
            img{
                max-width: 36px;
                margin-top: 8px;
            }
        }

        .user_wrap{
            width: calc(100% - 80px);
        }

        .user_message{
            text-align: right;
            margin-top: 6px;
            >span{
                display: inline-block;
                background: $primaryColor-100;
                border-radius: 20px 0px 20px 20px;
                color: #fff;
                padding: 12px 16px;
            }
        }
        .received_time{ text-align: right;}
    }

    // 反饋
    .feedback{
        display: flex;
        align-items: center;
        margin: 6px 0;

        .btn{
            width: auto;
            padding: 12px 16px;
            margin-left: 4px;
            border-radius: 30px;

            background: $primaryColor-10;
            color: $primaryColor-100;
            // @include paragraph(700);

            transition: all .3s ease;

            img, .svg{
                margin-right: 4px;
                // width: 20px;
                // height: 20px;
            }

            &:hover{
                background: $primaryColor-30; 
            }

            &:focus,
            &.act{
                background: $primaryColor-100;
                color: $Nature-w-Color-100;

                // svg focus 換色
                .svg{
                    path, circle, rect{ fill: $Nature-w-Color-100; }
                }
            }

            &.disable{
                cursor: not-allowed;
                color: $Nature-b-Color-20;
                background: $Nature-b-Color-2;

                .svg{
                    path, circle{ fill: $Nature-b-Color-20; }
                }

                &:hover, &:focus{
                    color: $Nature-b-Color-20;

                    .svg{
                        path, circle{ fill: $Nature-b-Color-20; }
                    }
                }
            }
        }

        b{
            // @include paragraph(500);
        }
    }
}
// google 機器人
.google_captcha{
    text-align: center;
    padding-top: 2em;
}

// 活動行事曆 
// 對應內容
.output-content{
    padding-top: 2em;

    // 日期展示
    .date-display{
        // padding: 4em 6em;
        padding: 4em 0;
        h3{
            text-align: center;
            font-size: 2em;
            letter-spacing: 2px;
            line-height: 2;
            margin: 0;

            +h4.date{
                margin-bottom: 0 !important;
            }
        }
        // 時間軸背景
        &.timeline{
            .date-slider{
                background: url(../images/ticc/bg-timeline.png) left 50% no-repeat;
                background-size: contain;
                margin-top: 2em;
            }

            .slick-list{
                width: calc(100% - 12em);
                margin: auto;
            }
        }
    }
    .functions{
        border-bottom: 3px solid #000;
    }

    // 拖出來共用
    h4.date{
        color: #fff;
        background: linear-gradient(0deg, #24086b 0%, #6a1b8a 100%);
        border: solid 2px #fff;
        box-shadow: rgba(99,99,99,.2) 0px 2px 8px 0px;
        display: block;
        width: 420px;
        margin: 1.125em auto;
        padding: 1em 0;
        text-align: center;
        font-size: 1.5em;
        line-height: 1.4;
        font-weight: bold;

        b{ font-size: 140%; }

        position: relative;
        overflow: hidden;
        &:before{
            content: '';
            position: absolute;
            border-style: solid;
            transform-origin: left top;
            transform: rotate(-24deg);
            border-width: 50px 120px 0 0;
            border-color: #fff;
            left: -20px;
            top: 0px;
        }
    }
    h4.month{
        text-align: center;
        font-size: 2.5em;
        margin: 0;
        padding: 1em 0;
    }

    // 品項
    .content{
        margin-top: 2em;
        .item{
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            background: #fff;
            margin: 16px 0;

            position: relative;
            // .link{
            //     position: absolute;
            //     right: 2em;
            //     top: 2em;
            //     z-index: 1;
            //     a{
            //         display: inline-block;
            //         width: 42px;
            //         height: 42px;
            //         padding: 6px;
            //         &.share{}
            //         &.calendar{}
            //     }
            // }
            >a{
                display: flex;
                flex-flow: row nowrap;
                padding: 34px 40px;
                transition: all .3s ease;
                .timepoint{
                    flex: 0 0 30%;
                    background: #ddd;
                    height: 180px;
                    border-radius: 5px;
                    overflow: hidden;

                    transition: all .3s ease;

                    position: relative;
                    p{
                        position: absolute;
                        z-index: 1;
                        text-align: center;
                        width: 100%;
                        height: 100%;
                        margin: 0;

                        color: #fff;
                        background: linear-gradient(0deg, rgba(36,8,107,1) 0%, rgba(106,27,138,1) 100%);
                        transition: all .6s;

                        display: flex;
                        flex-flow: column wrap;
                        justify-content: center;
                        span{
                            line-height: 1.4;
                            &:nth-child(1){
                                font-size: 1em;
                            }
                            &:nth-child(2){
                                font-size: 2.2em;
                                font-weight: bold;
                                letter-spacing: 1px;
                            }
                            &:nth-child(3){
                                font-size: 1.75em;
                                font-weight: bold;
                            }
                        }
                    }
                    .img-container{
                        background: #222;
                        height: 100%;
                        img{}
                    }
                }
                .text{
                    flex: 1 1 70%;
                    padding: 0 5.5em 0 3em;
                    color: #222;
                    h3{
                        font-size: 1.5em;
                        color: rgba(36,8,107,1);
                    }
                    h4{
                        font-size: 1.125em;
                        margin-bottom: 10px;
                    }
                    p{
                        line-height: 1.8;
                        margin-top: 0;
                        color: #373636;
                        span{
                            color: $primaryColor;
                            font-weight: bold;
                        }
                    }
                }
                &:hover, &:focus{
                    .timepoint{
                        height: 280px;
                        p{ background: rgba(0,0,0,.65); }
                    }
                    .text{}
                }
            }

            &.AD{
                // p{
                //     position: absolute;
                //     right: 0;
                //     bottom: 0;
                //     text-align: center;
                //     width: 260px;
                //     padding: 1em 0;
                //     margin: 0;
                //     line-height: 1.6;
                //     font-size: 1.2em;
                //     letter-spacing: 1px;
                //     // background: $secondaryColor;
                //     background: linear-gradient(0deg, $secondaryColor 0%, $secondaryColor 100%);
                //     color: #fff;
                //     font-weight: 400;
                // }
                >a{
                    .img-container{
                        width: calc( 100% - 120px);
                        height: 320px;
                        border-radius: 5px;
                        overflow: hidden;

                        img{
                            transform: scale(1);
                            transition: all .3s ease;
                        }
                    }

                    p{
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        text-align: center;
                        width: 260px;
                        padding: 1em 0;
                        margin: 0;
                        line-height: 1.6;
                        font-size: 1.2em;
                        letter-spacing: 1px;
                        // background: $secondaryColor;
                        background: linear-gradient(0deg, #6a1b8a 0%, #24086b 100%);
                        color: #fff;
                        font-weight: 400;

                        transition: all .3s ease;
                    }

                    // &:hover, &:focus{
                    //     .img-container{
                    //         img{
                    //             transform: scale(1.1);
                    //         }
                    //     }
                    // }
                }

                &:hover, &:focus{
                    >a{
                        .img-container{
                            img{ transform: scale(1.1); }
                        }
                        p{ background: linear-gradient(0deg, $secondaryColor 0%, $secondaryColor 100%); }
                    }
                }
            }
        }
    }
}
// 拖出來共用：function
.functions{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    .col{
        flex: 0 0 auto;
        padding: .75em 0;
        span{
            letter-spacing: 1px;
            padding: 0 1em;
        }

        a.timeline,
        a.calendar,
        a.list,
        a.floor,
        a.timer,
        a.sites,
        .filter{
            display: inline-block;
            padding: 0 1.5em;
            padding-left: 46px;
            line-height: 2;
            color: #222;
            border-radius: 4px;
        }

        a.timeline{
            background: url(../images/ticc/icon_clock.png) 6px 50% no-repeat;
            background-size: 36px 36px;
        }
        a.calendar{
            background: url(../images/ticc/icon_calendar.png) 6px 50% no-repeat;
            background-size: 36px 36px;
        }
        a.list{
            background: url(../images/ticc/icon_grid.png) 6px 50% no-repeat;
            background-size: 36px 36px;
        }
        // 樓層遠近
        a.floor{
            background: url(../images/ticc/icon_floor.png) 8px 50% no-repeat, #fff;
            background-size: 42px 42px;
            &.H{ background: url(../images/ticc/icon_floor_H.png) 8px 50% no-repeat, #fff; }
        }
        // 時間遠近
        a.timer{
            background: url(../images/ticc/icon_timer.png) 8px 50% no-repeat, #fff;
            background-size: 42px 42px;
        }
        // 場地選擇
        a.sites{
            background: url(../images/ticc/icon_site.png) 8px 50% no-repeat, #fff;
            background-size: 42px 42px;
        }
        a.floor, a.timer, a.sites{
            padding: 12px 12px 12px 56px;
            filter: invert(0);
            transition: .3s;
            &:hover, &:focus{
                filter: invert(1);
            }
        }

        .filter{
            background: url(../images/ticc/icon_date.png) 6px 50% no-repeat;
            background-size: 36px 36px;
            padding-right: 0;
        }
    }
    .download_pdf{
        color: #fff;
        padding: .75em 1.5em;
        padding-left: 46px;
        background: url(../images/ticc/icon_pdf.png) 6px 50% no-repeat, #222;
        background-size: 36px 36px;
        border-radius: 4px;
        display: inline-block;
        &:hover,
        &:focus {
          background: url(../images/ticc/icon_pdf.png) 6px 50% no-repeat,darken($aHover, 0);
          background-size: 36px 36px;
          border-color: darken($aHover, 0);
        }
    }

    @include screen('mobile') {
        flex-flow: row wrap;
        .col{}
    }
}
// 狀態
ul.state{
    @include li-reset;
    line-height: 40px;
    li{
        display: inline-block;
        padding-left: 48px;
        padding-right: 16px;

        &.able, &.unable, &.locked{
            position: relative;
            &:before{
                content: '';
                position: absolute;
                width: 40px;
                height: 40px;
                left: 0;
            }
        }

        &.able{
            &:before{ background: #c7c4e9; }
        }
        &.unable{ 
            &:before{ background: #8782c4; }
        }
        &.locked{ 
            &:before{ background: #d2d0d0; }
        }
    }
}

// 活動行事曆：分享＋加入google月曆
.link{
    // 拉出來共用
    position: absolute;
    right: 2em;
    top: 2em;
    z-index: 1;
    a{
        display: inline-block;
        width: 42px;
        height: 42px;
        padding: 6px;
        &.share{}
        &.calendar{}
    }
}
// 日曆calendar_Tb
.calendar_Tb {
    margin: 0 0 20px;
    table {
        word-break: break-all;
        table-layout: fixed;
        border: solid 3px #939393;
        tbody { border-top: 1px solid #939393; }
        tr { background-color: #fff; }
        th {
            background-color: #686868 !important;
            border-bottom: solid 3px #939393;
            color: #fff;
            padding: .65em 1em;
            width: 14.28%;
            font-size: 1.05em;
            font-weight: 400;
            &.weekend {
                background-color: #e26f6f !important;
                color: #fff;
            }
        }
        td {
            vertical-align: top;
            border: 1px solid #e5e5e5;
            padding: 20px;
            @include screen('mobile') {
                min-height: 65px;
                // padding: 2px 7px 2px 17% !important;
            }
            // 不可用
            &.unavailable{
                background: #f3f3f3;
                .num_date { color: #d5d5d5; }
                @include screen('tablet') {
                    display: none;
                }

                &:hover, &:focus{
                    cursor: not-allowed;
                }
            }

            // 手機版 週幾
            &:before{
                background: #f0f0f0;
            }
        }

        .num_date {
            color: #090808;
            font-size: 1.125em;
            font-weight: 400;
            @include screen('tablet') {
                // position: absolute;
                // text-align: center;
                // right: 0;
                // left: 0;
                // top: 30px;
                // width: 15%;
            }
        }
        .gallery_activity {
            a{
                display: block;
                margin: 10px 0;
                color: #fff;
                background: linear-gradient(0deg, #666 0%, #222 100%);
                padding: 20px 16px;
                border-radius: 4px;
                transition: .6s;

                &:hover, &:focus{
                    background: linear-gradient(0deg, #24086b 0%, #6a1b8a 100%);
                }
            }
        }

        @include screen('tablet') {
            tr{
                &:nth-child(even){
                    background: #f0f0f0;
                    td {
                        border-bottom: 1px solid #fff !important;
                        // 手機版 週幾
                        &:before{ background: #fff; }
                    }

                }
            }
        }
    }
}
// 詳目頁
.act_info{
    padding: 2em 0 !important;
    @extend %flex_set;

    .pic,
    .list{
        // @include flex-xs(12, 0px);
        // @include flex-sm(6, 0px);
        // @include flex-md(7, 0px);
        // @include flex-lg(7, 0px);

        @include flex-xs(12, 0px);
        @include flex-sm(6, 24px);
        @include flex-md(6, 24px);
        @include flex-lg(6, 24px);
    }

    .pic{
        margin: 0;
        padding: 0;
    }
    .list{
        // @include flex-xs(12, 0px);
        // @include flex-sm(6, 0px);
        // @include flex-md(5, 0px);
        // @include flex-lg(5, 0px);

        .scroltable{
            min-width: auto !important;
            width: 100%;
        }
        .scroltable-nav{ display: none !important; }

        table{
            th{
                background: transparent;
                text-align: right;
            }
        }
    }

    // +p{
    //     line-height: 2;
    //     margin: 3em 0 2em !important;
    // }
}
// 單月切換
.month_switch {
    font-size: 1.625em;
    text-align: center;
    margin: 40px 0;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    @include screen('mobile') {
        font-size: 1.562em;
    }
    @media(max-width: 400px) {
        font-size: 1.25em;
    }
    .year_month {
        .date_range {
            display: flex;
            align-items: center;
            padding-right: 10px;
            @include screen('mobile') {
                flex-basis: 100%;
                justify-content: center;
            }
        }
        span {
            padding: 0 10px;
            // font-family: 'Merriweather', serif;
            font-weight: 400;
            font-size: 1.5em;
            line-height: 52px;
            @media(max-width: 380px) {
                padding: 0 5px;
            }
        }
    }
    .prev_btn, .next_btn {
        // display: inline-block;
        // vertical-align: middle;
        a {
            display: block;
            width: 52px;
            height: 52px;
            background-color: #666;
            line-height: 52px;
            border-radius: 50%;

            img{
                width: 20px;
                height: 20px;
            }

            &:hover {
                background-color: #000;
            }
            @media(max-width: 380px) {
                width: 35px;
                height: 35px;
            }
        }
    }
}

// 
.text_info{
    padding: 3em 0 2em !important;
    p{ line-height: 2; }
}

// Youtub RWD
.Video {}
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// 內頁 標題下操作
.inner_function{
    padding: 3em 0;

    .search{
        max-width: 560px;
        margin: auto;
        position: relative;

        input[type="text"]{
            padding: 1em 70px 1em 1.5em;
            font-size: 1.125em;
        }
        .btn-search{
            background: url(../images/icon/icon_search.svg) 50% 50% no-repeat,transparent;
            background-size: 20px 20px;
            border: 1px solid transparent;
            font-size: 0;
            width: 60px;
            height: 60px;

            position: absolute;
            right: 5px;
            top: 5px;

            &:hover, &:focus{
                background: url(../images/icon/icon_search2.svg) 50% 50% no-repeat, rgba(0,0,0,.75);
                background-size: 20px 20px;
            }
        }
    }

    @include screen('tablet') {
        padding-top: 7em;
        .search{ display: block !important; }
    }
}

// 瀑布流
.waterfalls_wrap {
    position: relative;
    padding-bottom: 40px;
    .waterfalls {
        h3.title {
            // text-align: center;
            // font-size: 2.25em;
            // letter-spacing: 2px;
            // line-height: 2;
            margin: 0;
            font-family: serif;
        }
        .contentblock {
            position: relative;
            z-index: 2;
        }
    }

    @include screen('tablet') {
        margin-top: 7em;
        .waterfalls {
            h3.title {
                font-size: 1.75em;
            }
        }
    }
}

// 查無資訊
.nodata{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    img{
        flex: 0 0 34%;
        max-width: 34%;
    }
    p{
        flex: 1 1 66%; 
        max-width: fit-content;
        font-size: 2em;
        font-weight: bold;
        color: #002e95;
    }

    @include screen('mobile') {
        flex-flow: row wrap;
        img, p{
            max-width: 80%;
            flex: 1 1 100%; 
            text-align: center;
        }
    }
}

// h3 標題
h3.title {
    text-align: center;
    font-size: 2.25em;
    letter-spacing: 2px;
    line-height: 2;
}

////////////////////////////////////////////////////////////
// 為了與首頁區隔，請在內頁加上innerpage ClassName
.innerpage {
    >.container {
        // @include gutter(); //gutter 代表左右要留白
        display: flex;
    }
    .center_block {
        flex: none;
        flex-basis: 100%;
        max-width: 100%;
        margin-bottom: 3em;
    }
    .left_block {
        flex: none;
        flex-basis: 260px;
        max-width: 260px;
        margin-right: 40px;
        &.hidden {
            +.center_block {
                flex: none;
                flex-basis: 100%;
                max-width: 100%;
            }
        }
        +.center_block {
            flex: auto;
            flex-basis: calc(100% - 300px);
            max-width: calc(100% - 300px);
        }

        // @media screen and (max-width: 1600px) {
        //     +.center_block { padding-right: 100px; }
        // }
        @include screen('tablet') {
            position: fixed;
            z-index: 999;
            left: 0;
            top: 280px;
            // width: 260px;
            width: auto;
            margin-right: 0;

            +.center_block {
                padding-right: 0;
                flex-basis: 100%;
                max-width: 100%;
            }

        }
    }
    &.small_size { font-size: .938em; }
    &.large_size { font-size: 1.125em; }

    .hero{
        img{}
    }

    @media screen and (max-width: 1600px) {
        // 避開右側 sideBar
        .center_block { padding-right: 100px; }
    }
    @media screen and (max-width: 1480px) {
        >.container {
            @include gutter(80px);
        }
    }
    @include screen('tablet') {
        .center_block {
            padding-right: 0;  // 右側 sideBar 隱藏，回歸原本位置
            flex-basis: 100%;
            max-width: 100%;
        }
    }

    // @include screen('tablet') {
    //     .left_block {

    //         position: fixed;
    //         z-index: 999;

    //         +.center_block{
    //             flex-basis: 100%;
    //             max-width: 100%;
    //         }
    //     }
    // }
}

.hidden { display: none; }